.card {
  display: flex;
  flex-direction: column;
  /* height: 385px; */
  cursor: pointer;
  margin-bottom: 20px;
}
.imgWrapper {
  display: flex;

  align-items: center !important;
  /* height: 100%; */

  overflow: hidden;
}
