.space {
  display: flex;
}

.bodyCardWrapper {
  padding: 10px;
  min-width: 200px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
}
.imageWrapper {
  padding: 10px;
  width: 200px;
  min-width: 200px;
  display: flex;
}


.btnAction {
  margin: 0 10px;
}

.propName {
  padding: 0;
  margin: 10px 0 !important;
}
.title {
  margin: 0 0 0 15px;
}
.cardLine {
  display: flex;
  align-items: center;
}
.cardLineTitle {
  display: flex;
  align-items: center;
}
.buttonsWrapper {
  margin-left: 15px;
  margin-top: 15px !important;
  width: 100%;
  
}

@media screen and (max-width: 822px) {
  .space {
    flex-direction: column;
  }
  .imageWrapper {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .bodyCardWrapper {
    align-items: center;
    padding: 10px 0 30px 0;
  }
  .cardLine {
    flex-direction: column;
  }
  .buttonsWrapper {
    margin: 0;
  }

}