.bodyCardWrapper {
  padding: 10px;
  min-width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.btnAction {
  margin-right: 10px;
}

.propName {
  padding: 0;
  margin: 0;
}